<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>
  <h2>エントリー</h2>
  <ul>
    <li th:each="user : ${room.users}">[[${user}]]</li>
  </ul>
  <div th:if="${user_name}">
    Hi [[${user_name}]]
  </div>
  <div>
    <a href="janken/game?hand=Gu">ぐー</a>
    <a href="janken/game?hand=Choki">ちょき</a>
    <a href="janken/game?hand=Pa">ぱー</a>
  </div>
  <div th:if="${myhand}">
    あなたの手 [[${myhand}]]
  </div>
  <div th:if="${cpuhand}">
    相手の手 [[${cpuhand}]]
  </div>
  <div th:if="${kekka}">
    結果 [[${kekka}]]
  </div>
</body>

</html>
